{% load static %} 
{# Load the tag library #} 
{% load bootstrap5 %}
{# Load CSSand JavaScript #} 
{% bootstrap_css %} 
{% bootstrap_javascript %} 
{# Display django.contrib.messages as Bootstrap alerts #} 
{% bootstrap_messages %}

<div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="margin-left: 10px"
      >Assignment Adder</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calendar2'%}">Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addCourse'%}">Add Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addAssignment'%}">Add Assignment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'upload_note'%}">Upload Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'note_list'%}">View Notes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'assignment_list'%}">View Assignments</a>
        </li>
      </ul>
    </div>
    <div style="float: right">
      <button
        type="submit"
        class="btn btn-secondary"
        style="margin-right: 1vw"
        onclick="location.href={% url 'logout'%}"
      >
        Logout
      </button>
    </div>
  </nav>

  <form
    action="{% url 'addCourseDB'%}"
    method="post"
    style="padding: 15px; width: 60%"
  >
    {% csrf_token %}
    <fieldset style="padding: 15px">
      <div>
        <h1>Add a Course!</h1>
        <p>Add a course from the Fall 2021 semester.</p>
      </div>

      <div style="margin-bottom: 10px">
        <label>Enter Course Number: </label>
        <p style="font-size: 11px"><i>Example: Enter 15947 for CS 3330</i></p>
        <input
          class="form-control"
          type="text"
          name="course_num"
          id="title"
          value=""
          placeholder="Enter course number"
          required
        />
      </div>

      <div>
        <label>Enter Course Name: </label>
        <p style="font-size: 11px">
          <i>Example: Enter CS 3330 for Computer Architecture</i>
        </p>
        <input
          class="form-control"
          type="text"
          name="course_name"
          id="text"
          value=""
          placeholder="Enter course name"
          required
        />
      </div>
    </fieldset>

    <div style="padding: 15px">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

  
